.QuizList {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 100px;
  width: 100%;
  background-image: linear-gradient(90deg, #fd8355 0%, #f0576c 37%, #f79cbd 100%);

  li {
    margin-bottom: 10px;
  }

  a:hover {
    color: #2c2c23;
  }
}