.Select {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 3px;
    font-weight: 700;
    display: block;
  }

  select {
    display: block;
    border: 1px solid #bebebe;
    margin-bottom: 5px;
    height: 29px;
    width: 100%;
    transition: all 300ms ease-in-out;
  }
}